<% if flash[:error] %>
    <% flash[:error].each do |error_msg| %>
        <li><%= error_msg %></li>
    <% end %>
<% end %>

<h1> Edit Climber </h1>
<%= form_for @climber do |c| %>
    <br>
    Name: <%= c.text_field :name, value: @climber.name %>
    </br>
    <br>
    Age: <%= c.text_field :age, value: @climber.age %>
    </br>
    <br>
    Country: <%= c.text_field :country, value: @climber.country %>
    </br>
    <br>
    Mountain: <%= c.collection_select :mountain_id, Mountain.all, :id, :name %>
    </br>
    <%= c.submit %>
<% end %>